{% extends 'base.html' %}

{% block details %}
 <h1>Add Post for {{user.first_name}}</h1>
 
   
 <form class="container row g-3 m-3" action="/users/{{user.id}}/posts/new" method="POST">
    <div class="mb-3 row">
        <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" required name="title" >
        </div>
        
      </div>
      <div class="mb-3 row">
        <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Post Content</label>
        <div class="col-sm-10">
            <textarea class="form-control" required name='content' rows="3"></textarea>
        </div>
      </div>    
      
      <div class=" row ">
      {% for tag in tags %}
      <div class="form-check form-check-inline">
      <input id="{{tag.name}}" name="Tags" value="{{tag.id}}" type="checkbox">
      <label for="{{tag.name}}">{{tag.name}}</label>
    </div>
      {% endfor %}
    </div>


      <div class="container d-flex justify-content-end ">
        <button class="btn btn-outline-primary m-1">Cancel</button>
        <button class="btn btn-success m-1">Save</button>
    </div>
  </form>

 
 


{% endblock %}